<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>贴代码</title>
    <meta name="keyword" content="贴代码,pastecode">
    <meta name="description" content="一个贴代码的网站">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1 style="text-align: center; color: chartreuse">贴代码</h1>
<br>
<br>
<div style="margin-left: 10%; margin-right: 10%">
    URL:<a th:href="@{${url}}" th:text="${url}"></a>
    <h5 th:text="'Name:'+${code.name}"></h5>
    <h5 th:text="'Language:'+${code.language}"></h5>
    <h5 th:text="'Create Time:'+${code.time}"></h5>
    <pre>
    <code class="hljs" th:text="${code.code}">

    </code>
    </pre>
</div>
</body>

</html>